* {
  margin: 0px;
  position: relative;
  box-sizing: border-box;
}

html {
  margin: 0px;
}

body {
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ccc;
}

.nav {
  background-color: rgba(204, 204, 204, 0.8);
  border-bottom: solid 2px #444;
  width: 90%;
  height: 60px;
  position: fixed;
  z-index: 1800;
  text-align: center;
  line-height: 60px;
}
.nav h4 {
  font-size: 18px;
  color: #444;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 300px 0px 300px 0px;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  max-width: 900px;
}

.project {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 7px;
  color: #666;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.skill {
  position: absolute;
  text-align: center;
  top: -12px;
  right: 6px;
  z-index: 900;
  color: #fff;
  background-color: rgba(9, 117, 189, 0.7);
  font-size: 12px;
  letter-spacing: 1px;
  padding: 7px 15px;
  border-radius: 7px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  font-weight: 500;
}

.block-1 {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border: solid 2px #eee;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  margin: 20px;
}
.block-1 .sec-a-overflow {
  display: flex;
  overflow: hidden;
}

.rabbit, .gg, .ele {
  width: 200px;
  flex-shrink: 0;
}
.rabbit .outline, .rabbit .eyes, .rabbit .face, .rabbit .beak, .gg .outline, .gg .eyes, .gg .face, .gg .beak, .ele .outline, .ele .eyes, .ele .face, .ele .beak {
  stroke: #42adf5;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
.rabbit .outline, .gg .outline, .ele .outline {
  stroke-width: 7px;
  fill: #f4f4f4;
}
.rabbit .face, .gg .face, .ele .face {
  stroke-width: 3.5px;
}
.rabbit .eyes, .gg .eyes, .ele .eyes {
  stroke-width: 10px;
  animation: blink 0.7s infinite;
}
.rabbit .beak, .gg .beak, .ele .beak {
  stroke-width: 7px;
}
.rabbit .nose, .gg .nose, .ele .nose {
  fill: #42adf5;
}

.rabbit {
  animation: moveleft1 4.5s infinite;
  animation-delay: -1.5s;
}

.gg {
  animation: moveleft2 4.5s infinite;
}

.ele {
  animation: moveleft3 4.5s infinite;
  animation-delay: 1.5s;
}

@keyframes moveleft1 {
  0% {
    transform: translateX(200px);
  }
  33.3% {
    transform: translateX(0px);
  }
  66.6% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(-200px);
  }
}
@keyframes moveleft2 {
  0% {
    transform: translateX(0px);
  }
  33.3% {
    transform: translateX(-200px);
  }
  66.6% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(-400px);
  }
}
@keyframes moveleft3 {
  0% {
    transform: translateX(-200px);
  }
  33.3% {
    transform: translateX(-400px);
  }
  66.6% {
    transform: translateX(-600px);
  }
  100% {
    transform: translateX(-600px);
  }
}
.block-2 {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border: solid 2px #eee;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  margin: 20px;
  transition: 0.2s;
}
.block-2 .box {
  width: 50px;
  height: 50px;
  background-color: #42adf5;
  position: absolute;
  margin: 75px;
  animation: rolling 4s infinite;
}
.block-2 .s-box {
  width: 20px;
  height: 20px;
  margin: 90px;
  background-color: #eee;
  animation: rolling 2s infinite;
  animation-direction: reverse;
}

@keyframes rolling {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2) rotate(180deg);
    border-radius: 100%;
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
.block-3 {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border: solid 2px #eee;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  margin: 20px;
}

.recruit .sheet-dark {
  fill: #42adf5;
}
.recruit .photo {
  fill: #42adf5;
}
.recruit .tree, .recruit .person {
  fill: #eee;
}
.recruit .tree {
  animation: popup 4s infinite;
  animation-delay: 1s;
}
.recruit .person {
  animation: popup 4s infinite;
}
.recruit .sheet-outline, .recruit .spark, .recruit .text-dark, .recruit .text-light {
  fill: none;
  stroke-linecap: round;
  stroke-width: 3.5px;
  stroke: #42adf5;
}
.recruit .text-light {
  stroke: #eee;
}
.recruit g {
  animation: popup 5s infinite;
  animation-direction: reverse;
}
.recruit .a {
  animation: blink 1s infinite;
}
.recruit .b {
  animation: blink 1.5s infinite;
}
.recruit .c {
  animation: blink 2s infinite;
}
.recruit .d {
  animation: blink 2.5s infinite;
}
.recruit .e {
  animation: blink 3s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
.block-4 {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border: solid 2px #eee;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  margin: 20px;
}

.hahow-course {
  animation: popup 2s infinite;
}
.hahow-course g {
  fill: #42adf5;
  animation: popup 2s infinite;
}
.hahow-course g .d {
  animation: disp 3s infinite;
}
.hahow-course g .t {
  animation: popup 2s infinite;
  animation-delay: 0.5s;
}
.hahow-course g .i {
  animation: popup 3s infinite;
  animation-delay: 0.2s;
}
.hahow-course g .n {
  animation: popup 3s infinite;
  animation-delay: 1s;
}

@keyframes popup {
  0%, 100% {
    transform: translate(4px, 4px);
  }
  10% {
    transform: translate(-4px, -4px);
  }
  20% {
    transform: translate(-2px, -2px);
  }
  30% {
    transform: translate(-3px, -3px);
  }
  80% {
    transform: translate(0px, 0px);
  }
}
@keyframes disp {
  0%, 100% {
    fill: #42adf5;
  }
  5% {
    fill: none;
  }
  10% {
    fill: #42adf5;
  }
  15% {
    fill: none;
  }
  20% {
    fill: #42adf5;
  }
  50% {
    fill: #42adf5;
  }
  55% {
    fill: none;
  }
  60% {
    fill: #42adf5;
  }
}
.block-5 {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border: solid 2px #eee;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  margin: 20px;
}

.ntu-course .diamond {
  fill: none;
  stroke: #42adf5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 9px;
}
.ntu-course .s1, .ntu-course .s2, .ntu-course .s3, .ntu-course .s4, .ntu-course .s5, .ntu-course .s6, .ntu-course .s7, .ntu-course .s8 {
  fill: #42adf5;
}
.ntu-course .s1, .ntu-course .s5 {
  animation: bom 2s infinite;
}
.ntu-course .s2, .ntu-course .s6 {
  animation: bom 2s infinite;
  animation-delay: 0.5s;
}
.ntu-course .s3, .ntu-course .s7 {
  animation: bom 2s infinite;
  animation-delay: 1s;
}
.ntu-course .s4, .ntu-course .s8 {
  animation: bom 2s infinite;
  animation-delay: 1.5s;
}
.ntu-course .c1, .ntu-course .c2, .ntu-course .c3 {
  stroke-width: 9px;
  fill: #eee;
  stroke: #42adf5;
}
.ntu-course .c1 {
  animation: bom2 2s infinite;
}
.ntu-course .c2 {
  animation: bom3 2s infinite;
}
.ntu-course .c3 {
  animation: bom2 2s infinite;
  animation-delay: 1.5s;
}

@keyframes bom {
  0%, 100% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
}
@keyframes bom2 {
  0%, 100% {
    fill: #42adf5;
    stroke: #eee;
  }
  25% {
    fill: #eee;
    stroke: #42adf5;
  }
  75% {
    fill: #eee;
    stroke: #42adf5;
  }
}
@keyframes bom3 {
  0%, 100% {
    fill: #eee;
    stroke: #42adf5;
  }
  25% {
    fill: #42adf5;
    stroke: #eee;
  }
  75% {
    fill: #eee;
    stroke: #42adf5;
  }
}
.block-6 {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border: solid 2px #eee;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  margin: 20px;
}

.industry {
  fill: #42adf5;
}

.left {
  fill: #42adf5;
  position: absolute;
  width: 40px;
  height: 40px;
  animation: riding 0.5s infinite;
  animation-direction: reverse;
  animation-timing-function: linear;
  top: 92px;
  left: 38px;
}

.right {
  fill: #42adf5;
  position: absolute;
  width: 40px;
  height: 40px;
  animation: riding 0.5s infinite;
  animation-direction: reverse;
  animation-timing-function: linear;
  top: 92px;
  left: 118px;
}

@keyframes riding {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.card-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  padding: 100px 30px;
  background-color: #eee;
  position: fixed;
  z-index: 2000;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.card-1 h1 {
  font-size: 50px;
  color: #222;
}
.card-1 .tag-box {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px 40px 0px;
}
.card-1 .tag-box .tag {
  margin: 6px;
  padding: 4px 12px;
  background-color: #42adf5;
  color: #eee;
  font-size: 15px;
  border-radius: 5px;
  height: 30px;
}
.card-1 .story {
  max-width: 600px;
}
.card-1 .story p {
  line-height: 26px;
  text-align: justify;
  text-justify: inter-ideograph;
  color: #222;
}
.card-1 .link {
  font-size: 16px;
  color: #42adf5;
  border: solid 2px #42adf5;
  border-radius: 20px;
  padding: 8px 16px;
  margin: 50px 0px;
  text-decoration: none;
}
.card-1 .card-close {
  display: block;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #bbb;
  color: #444;
  text-align: center;
  line-height: 23px;
  font-size: 22px;
  text-decoration: none;
  position: absolute;
  right: 20px;
  top: 20px;
}
.card-1 .card-close:hover {
  border: solid 2px #42adf5;
  background-color: #42adf5;
  color: #fff;
}
.card-1 .pic {
  background-image: url(images/working-animal.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  max-width: 900px;
  height: 2500px;
  flex-shrink: 0;
}

.card-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  padding: 100px 30px;
  background-color: #eee;
  position: fixed;
  z-index: 2000;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.card-3 h1 {
  font-size: 50px;
  color: #222;
}
.card-3 .tag-box {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px 40px 0px;
}
.card-3 .tag-box .tag {
  margin: 6px;
  padding: 4px 12px;
  background-color: #42adf5;
  color: #eee;
  font-size: 15px;
  border-radius: 5px;
  height: 30px;
}
.card-3 .story {
  max-width: 600px;
}
.card-3 .story p {
  line-height: 26px;
  text-align: justify;
  text-justify: inter-ideograph;
  color: #222;
}
.card-3 .link {
  font-size: 16px;
  color: #42adf5;
  border: solid 2px #42adf5;
  border-radius: 20px;
  padding: 8px 16px;
  margin: 50px 0px;
  text-decoration: none;
}
.card-3 .card-close {
  display: block;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #bbb;
  color: #444;
  text-align: center;
  line-height: 23px;
  font-size: 22px;
  text-decoration: none;
  position: absolute;
  right: 20px;
  top: 20px;
}
.card-3 .card-close:hover {
  border: solid 2px #42adf5;
  background-color: #42adf5;
  color: #fff;
}
.card-3 .pic {
  background-image: url(images/recruiting-icon.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  max-width: 900px;
  height: 2800px;
  flex-shrink: 0;
}

.card-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  padding: 100px 30px;
  background-color: #eee;
  position: fixed;
  z-index: 2000;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.card-4 h1 {
  font-size: 50px;
  color: #222;
}
.card-4 .tag-box {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px 40px 0px;
}
.card-4 .tag-box .tag {
  margin: 6px;
  padding: 4px 12px;
  background-color: #42adf5;
  color: #eee;
  font-size: 15px;
  border-radius: 5px;
  height: 30px;
}
.card-4 .story {
  max-width: 600px;
}
.card-4 .story p {
  line-height: 26px;
  text-align: justify;
  text-justify: inter-ideograph;
  color: #222;
}
.card-4 .link {
  font-size: 16px;
  color: #42adf5;
  border: solid 2px #42adf5;
  border-radius: 20px;
  padding: 8px 16px;
  margin: 50px 0px;
  text-decoration: none;
}
.card-4 .card-close {
  display: block;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #bbb;
  color: #444;
  text-align: center;
  line-height: 23px;
  font-size: 22px;
  text-decoration: none;
  position: absolute;
  right: 20px;
  top: 20px;
}
.card-4 .card-close:hover {
  border: solid 2px #42adf5;
  background-color: #42adf5;
  color: #fff;
}

.card-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  padding: 100px 30px;
  background-color: #eee;
  position: fixed;
  z-index: 2000;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.card-5 h1 {
  font-size: 50px;
  color: #222;
}
.card-5 .tag-box {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px 40px 0px;
}
.card-5 .tag-box .tag {
  margin: 6px;
  padding: 4px 12px;
  background-color: #42adf5;
  color: #eee;
  font-size: 15px;
  border-radius: 5px;
  height: 30px;
}
.card-5 .story {
  max-width: 600px;
}
.card-5 .story p {
  line-height: 26px;
  text-align: justify;
  text-justify: inter-ideograph;
  color: #222;
}
.card-5 .link {
  font-size: 16px;
  color: #42adf5;
  border: solid 2px #42adf5;
  border-radius: 20px;
  padding: 8px 16px;
  margin: 50px 0px;
  text-decoration: none;
}
.card-5 .card-close {
  display: block;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #bbb;
  color: #444;
  text-align: center;
  line-height: 23px;
  font-size: 22px;
  text-decoration: none;
  position: absolute;
  right: 20px;
  top: 20px;
}
.card-5 .card-close:hover {
  border: solid 2px #42adf5;
  background-color: #42adf5;
  color: #fff;
}

.card-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  padding: 100px 30px;
  background-color: #eee;
  position: fixed;
  z-index: 2000;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.card-6 h1 {
  font-size: 50px;
  color: #222;
}
.card-6 .tag-box {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px 40px 0px;
}
.card-6 .tag-box .tag {
  margin: 6px;
  padding: 4px 12px;
  background-color: #42adf5;
  color: #eee;
  font-size: 15px;
  border-radius: 5px;
  height: 30px;
}
.card-6 .story {
  max-width: 600px;
}
.card-6 .story p {
  line-height: 26px;
  text-align: justify;
  text-justify: inter-ideograph;
  color: #222;
}
.card-6 .link {
  font-size: 16px;
  color: #42adf5;
  border: solid 2px #42adf5;
  border-radius: 20px;
  padding: 8px 16px;
  margin: 50px 0px;
  text-decoration: none;
}
.card-6 .card-close {
  display: block;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #bbb;
  color: #444;
  text-align: center;
  line-height: 23px;
  font-size: 22px;
  text-decoration: none;
  position: absolute;
  right: 20px;
  top: 20px;
}
.card-6 .card-close:hover {
  border: solid 2px #42adf5;
  background-color: #42adf5;
  color: #fff;
}
.card-6 .pic {
  background-image: url(images/product-icon.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  max-width: 900px;
  height: 1500px;
  flex-shrink: 0;
  margin-top: 100px;
}

.card-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  padding: 100px 30px;
  background-color: #eee;
  position: fixed;
  z-index: 2000;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #bbb;
}
.card-2 h1 {
  font-size: 50px;
  color: #222;
}
.card-2 .tag-box {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px 40px 0px;
}
.card-2 .tag-box .tag {
  margin: 6px;
  padding: 4px 12px;
  background-color: #42adf5;
  color: #eee;
  font-size: 15px;
  border-radius: 5px;
  height: 30px;
}
.card-2 .story {
  max-width: 600px;
}
.card-2 .story p {
  line-height: 26px;
  text-align: justify;
  text-justify: inter-ideograph;
  color: #222;
}
.card-2 .link {
  font-size: 16px;
  color: #42adf5;
  border: solid 2px #42adf5;
  border-radius: 20px;
  padding: 8px 16px;
  margin: 50px 0px;
  text-decoration: none;
}
.card-2 .card-close {
  display: block;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #bbb;
  color: #444;
  text-align: center;
  line-height: 23px;
  font-size: 22px;
  text-decoration: none;
  position: absolute;
  right: 20px;
  top: 20px;
}
.card-2 .card-close:hover {
  border: solid 2px #42adf5;
  background-color: #42adf5;
  color: #fff;
}
.card-2 .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 900px;
}

.sec-b {
  width: 200px;
  height: 200px;
  border: solid 2px #eee;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  margin: 20px;
  overflow: hidden;
}
.sec-b .box .a {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #42adf5;
  transform: translateX(40px) translateY(40px);
  animation: ani-a 4s infinite;
  background-color: #444;
}
.sec-b .box .b {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #42adf5;
  transform: translateX(120px) translateY(40px);
  animation: ani-b 4s infinite;
}
.sec-b .box .c {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #42adf5;
  transform: translateX(120px) translateY(120px);
  animation: ani-c 4s infinite;
}
.sec-b .box .d {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #42adf5;
  transform: translateX(40px) translateY(120px);
  animation: ani-d 4s infinite;
}

@keyframes ani-a {
  0% {
    transform: translateX(40px) translateY(40px) scale(0.5);
  }
  25% {
    transform: translateX(120px) translateY(40px) scale(1);
  }
  50% {
    transform: translateX(120px) translateY(120px) scale(1.25);
  }
  75% {
    transform: translateX(40px) translateY(120px) scale(1);
  }
  100% {
    transform: translateX(40px) translateY(40px) scale(0.5);
  }
}
@keyframes ani-b {
  0% {
    transform: translateX(120px) translateY(40px) scale(0.5);
  }
  25% {
    transform: translateX(120px) translateY(120px) scale(1);
  }
  50% {
    transform: translateX(40px) translateY(120px) scale(1.25);
  }
  75% {
    transform: translateX(40px) translateY(40px) scale(1);
  }
  100% {
    transform: translateX(120px) translateY(40px) scale(0.5);
  }
}
@keyframes ani-c {
  0% {
    transform: translateX(120px) translateY(120px) scale(0.5);
  }
  25% {
    transform: translateX(40px) translateY(120px) scale(1);
  }
  50% {
    transform: translateX(40px) translateY(40px) scale(1.25);
  }
  75% {
    transform: translateX(120px) translateY(40px) scale(1);
  }
  100% {
    transform: translateX(120px) translateY(120px) scale(0.5);
  }
}
@keyframes ani-d {
  0% {
    transform: translateX(40px) translateY(120px) scale(0.5);
  }
  25% {
    transform: translateX(40px) translateY(40px) scale(1);
  }
  50% {
    transform: translateX(120px) translateY(40px) scale(1.25);
  }
  75% {
    transform: translateX(120px) translateY(120px) scale(1);
  }
  100% {
    transform: translateX(40px) translateY(120px) scale(0.5);
  }
}
.sec-c {
  width: 200px;
  height: 200px;
  border: solid 2px #eee;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  margin: 20px;
  overflow: hidden;
}
.sec-c .box {
  width: 40px;
  height: 40px;
  background-color: #42adf5;
  border-radius: 100%;
  position: absolute;
  transform: translateX(40px) translateY(40px);
  animation: bigger 4s infinite;
}

@keyframes bigger {
  0% {
    transform: translateX(40px) translateY(40px) scale(0.1);
    opacity: 0;
  }
  45% {
    transform: translateX(40px) translateY(40px) scale(1);
    opacity: 1;
  }
  80% {
    transform: translateX(120px) translateY(120px) scale(10);
    opacity: 1;
  }
  100% {
    transform: translateX(120px) translateY(120px) scale(10);
    opacity: 0;
  }
}
.sec-d {
  width: 200px;
  height: 200px;
  border: solid 2px #eee;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  margin: 20px;
  overflow: hidden;
}
.sec-d .box {
  width: 40px;
  height: 120px;
  background-color: #42adf5;
  transform: translateX(40px) translateY(40px);
  animation: extand 2s infinite;
}

@keyframes extand {
  0% {
    width: 0px;
    transform: translateX(40px) translateY(40px);
  }
  50% {
    width: 120px;
    transform: translateX(40px) translateY(40px);
  }
  100% {
    width: 0px;
    transform: translateX(160px) translateY(40px);
  }
}
.sec-e {
  width: 200px;
  height: 200px;
  border: solid 2px #eee;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  margin: 20px;
  overflow: hidden;
}
.sec-e .box.a {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #42adf5;
  transform: translateX(40px) translateY(40px);
  animation: move-around-a 4s infinite;
}
.sec-e .box.b {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #42adf5;
  transform: translateX(120px) translateY(120px);
  animation: move-around-b 3s infinite;
  background-color: #444;
}

@keyframes move-around-a {
  0% {
    transform: translateX(40px) translateY(40px);
    width: 40px;
    height: 40px;
  }
  12.5% {
    transform: translateX(40px) translateY(40px);
    width: 120px;
    height: 40px;
  }
  25% {
    transform: translateX(120px) translateY(40px);
    width: 40px;
    height: 40px;
  }
  37.5% {
    transform: translateX(120px) translateY(40px);
    width: 40px;
    height: 120px;
  }
  50% {
    transform: translateX(120px) translateY(120px);
    width: 40px;
    height: 40px;
  }
  62.5% {
    transform: translateX(40px) translateY(120px);
    width: 120px;
    height: 40px;
  }
  75% {
    transform: translateX(40px) translateY(120px);
    width: 40px;
    height: 40px;
  }
  87.5% {
    transform: translateX(40px) translateY(40px);
    width: 40px;
    height: 120px;
  }
  100% {
    transform: translateX(40px) translateY(40px);
    width: 40px;
    height: 40px;
  }
}
@keyframes move-around-b {
  0% {
    transform: translateX(120px) translateY(120px);
    width: 40px;
    height: 40px;
  }
  12.5% {
    transform: translateX(40px) translateY(120px);
    width: 120px;
    height: 40px;
  }
  25% {
    transform: translateX(40px) translateY(120px);
    width: 40px;
    height: 40px;
  }
  37.5% {
    transform: translateX(40px) translateY(40px);
    width: 40px;
    height: 120px;
  }
  50% {
    transform: translateX(40px) translateY(40px);
    width: 40px;
    height: 40px;
  }
  62.5% {
    transform: translateX(40px) translateY(40px);
    width: 120px;
    height: 40px;
  }
  75% {
    transform: translateX(120px) translateY(40px);
    width: 40px;
    height: 40px;
  }
  87.5% {
    transform: translateX(120px) translateY(40px);
    width: 40px;
    height: 120px;
  }
  100% {
    transform: translateX(120px) translateY(120px);
    width: 40px;
    height: 40px;
  }
}
.sec-1 {
  width: 200px;
  height: 200px;
  border: solid 2px #eee;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  margin: 20px;
  overflow: hidden;
}
.sec-1 .box {
  position: absolute;
  width: 30px;
  height: 160px;
  background-color: #42adf5;
  transform: translateX(85px) translateY(20px);
}

.sec-2 {
  width: 200px;
  height: 200px;
  border: solid 2px #eee;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  margin: 20px;
  overflow: hidden;
}
.sec-2 .box.a {
  position: absolute;
  width: 120px;
  height: 30px;
  background-color: #42adf5;
  transform: translateX(40px) translateY(20px);
}
.sec-2 .box.b {
  position: absolute;
  width: 30px;
  height: 95px;
  background-color: #42adf5;
  transform: translateX(130px) translateY(20px);
  background-color: #444;
}
.sec-2 .box.c {
  position: absolute;
  width: 120px;
  height: 30px;
  background-color: #42adf5;
  transform: translateX(40px) translateY(85px);
}
.sec-2 .box.d {
  position: absolute;
  width: 30px;
  height: 95px;
  background-color: #42adf5;
  transform: translateX(40px) translateY(85px);
  background-color: #444;
}
.sec-2 .box.e {
  position: absolute;
  width: 120px;
  height: 30px;
  background-color: #42adf5;
  transform: translateX(40px) translateY(150px);
}

.sec-3 {
  width: 200px;
  height: 200px;
  border: solid 2px #eee;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  margin: 20px;
  overflow: hidden;
}
.sec-3 .box.a {
  position: absolute;
  width: 120px;
  height: 30px;
  background-color: #42adf5;
  transform: translateX(40px) translateY(20px);
}
.sec-3 .box.b {
  position: absolute;
  width: 30px;
  height: 160px;
  background-color: #42adf5;
  background-color: #444;
  transform: translateX(130px) translateY(20px);
}
.sec-3 .box.c {
  position: absolute;
  width: 120px;
  height: 30px;
  background-color: #42adf5;
  transform: translateX(40px) translateY(85px);
}
.sec-3 .box.d {
  position: absolute;
  width: 120px;
  height: 30px;
  background-color: #42adf5;
  transform: translateX(40px) translateY(150px);
}

.sec-4 {
  width: 200px;
  height: 200px;
  border: solid 2px #eee;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  margin: 20px;
  overflow: hidden;
}
.sec-4 .box.a {
  position: absolute;
  width: 30px;
  height: 95px;
  background-color: #42adf5;
  transform: translateX(40px) translateY(20px);
}
.sec-4 .box.b {
  position: absolute;
  width: 120px;
  height: 30px;
  background-color: #42adf5;
  background-color: #444;
  transform: translateX(40px) translateY(85px);
}
.sec-4 .box.c {
  position: absolute;
  width: 30px;
  height: 160px;
  background-color: #42adf5;
  transform: translateX(130px) translateY(20px);
}

.sec-5 {
  width: 200px;
  height: 200px;
  border: solid 2px #eee;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  margin: 20px;
  overflow: hidden;
}
.sec-5 .box.a {
  position: absolute;
  width: 120px;
  height: 30px;
  background-color: #42adf5;
  transform: translateX(40px) translateY(20px);
}
.sec-5 .box.b {
  position: absolute;
  width: 30px;
  height: 95px;
  background-color: #42adf5;
  background-color: #444;
  transform: translateX(40px) translateY(20px);
}
.sec-5 .box.c {
  position: absolute;
  width: 120px;
  height: 30px;
  background-color: #42adf5;
  transform: translateX(40px) translateY(85px);
}
.sec-5 .box.d {
  position: absolute;
  width: 30px;
  height: 95px;
  background-color: #42adf5;
  transform: translateX(130px) translateY(85px);
  background-color: #444;
}
.sec-5 .box.e {
  position: absolute;
  width: 120px;
  height: 30px;
  background-color: #42adf5;
  transform: translateX(40px) translateY(150px);
}

.sec-6 {
  width: 200px;
  height: 200px;
  border: solid 2px #eee;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  margin: 20px;
  overflow: hidden;
}
.sec-6 .box.a {
  position: absolute;
  width: 120px;
  height: 30px;
  background-color: #42adf5;
  transform: translateX(40px) translateY(20px);
}
.sec-6 .box.b {
  position: absolute;
  width: 30px;
  height: 160px;
  background-color: #42adf5;
  transform: translateX(40px) translateY(20px);
  background-color: #444;
}
.sec-6 .box.c {
  position: absolute;
  width: 120px;
  height: 30px;
  background-color: #42adf5;
  transform: translateX(40px) translateY(85px);
}
.sec-6 .box.d {
  position: absolute;
  width: 30px;
  height: 95px;
  background-color: #42adf5;
  transform: translateX(130px) translateY(85px);
  background-color: #444;
}
.sec-6 .box.e {
  position: absolute;
  width: 120px;
  height: 30px;
  background-color: #42adf5;
  transform: translateX(40px) translateY(150px);
}

.sec-7 {
  width: 200px;
  height: 200px;
  border: solid 2px #eee;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  margin: 20px;
  overflow: hidden;
}
.sec-7 .box.a {
  position: absolute;
  width: 120px;
  height: 30px;
  background-color: #42adf5;
  transform: translateX(40px) translateY(20px);
}
.sec-7 .box.b {
  position: absolute;
  width: 30px;
  height: 160px;
  background-color: #42adf5;
  transform: translateX(130px) translateY(20px);
  background-color: #444;
}

.sec-8 {
  width: 200px;
  height: 200px;
  border: solid 2px #eee;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  margin: 20px;
  overflow: hidden;
}
.sec-8 .box.a {
  position: absolute;
  width: 120px;
  height: 30px;
  background-color: #42adf5;
  transform: translateX(40px) translateY(85px);
  background-color: #444;
}
.sec-8 .box.b {
  position: absolute;
  width: 30px;
  height: 160px;
  background-color: #42adf5;
  transform: translateX(40px) translateY(20px);
}
.sec-8 .box.c {
  position: absolute;
  width: 120px;
  height: 30px;
  background-color: #42adf5;
  transform: translateX(40px) translateY(20px);
  background-color: #444;
}
.sec-8 .box.d {
  position: absolute;
  width: 30px;
  height: 160px;
  background-color: #42adf5;
  transform: translateX(130px) translateY(20px);
}
.sec-8 .box.e {
  position: absolute;
  width: 120px;
  height: 30px;
  background-color: #42adf5;
  transform: translateX(40px) translateY(150px);
}

.sec-9 {
  width: 200px;
  height: 200px;
  border: solid 2px #eee;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  margin: 20px;
  overflow: hidden;
}
.sec-9 .box.a {
  position: absolute;
  width: 120px;
  height: 30px;
  background-color: #42adf5;
  transform: translateX(40px) translateY(85px);
  background-color: #444;
}
.sec-9 .box.b {
  position: absolute;
  width: 30px;
  height: 95px;
  background-color: #42adf5;
  transform: translateX(40px) translateY(20px);
}
.sec-9 .box.c {
  position: absolute;
  width: 120px;
  height: 30px;
  background-color: #42adf5;
  transform: translateX(40px) translateY(20px);
  background-color: #444;
}
.sec-9 .box.d {
  position: absolute;
  width: 30px;
  height: 160px;
  background-color: #42adf5;
  transform: translateX(130px) translateY(20px);
}
.sec-9 .box.e {
  position: absolute;
  width: 120px;
  height: 30px;
  background-color: #42adf5;
  transform: translateX(40px) translateY(150px);
  background-color: #444;
}

.sec-0 {
  width: 200px;
  height: 200px;
  border: solid 2px #eee;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  margin: 20px;
  overflow: hidden;
}
.sec-0 .box.a {
  position: absolute;
  width: 30px;
  height: 160px;
  background-color: #42adf5;
  transform: translateX(40px) translateY(20px);
}
.sec-0 .box.b {
  position: absolute;
  width: 120px;
  height: 30px;
  background-color: #42adf5;
  transform: translateX(40px) translateY(20px);
  background-color: #444;
}
.sec-0 .box.c {
  position: absolute;
  width: 30px;
  height: 160px;
  background-color: #42adf5;
  transform: translate(130px) translateY(20px);
}
.sec-0 .box.d {
  position: absolute;
  width: 120px;
  height: 30px;
  background-color: #42adf5;
  transform: translateX(40px) translateY(150px);
  background-color: #444;
}

.card-1, .card-2, .card-3, .card-4, .card-5, .card-6 {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

#card1:target, #card2:target, #card3:target, #card4:target, #card5:target, #card6:target {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.hover-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #444;
  border-radius: 5px;
  opacity: 0;
  z-index: 100;
  cursor: pointer;
}

.hover-cover:hover {
  opacity: 0.2;
}

.sec-a:hover {
  background-color: #222;
  border: #222;
}
.sec-a:hover .box {
  background-color: #71f582;
}
.sec-a:hover .s-box {
  background-color: #222;
}

@media screen and (max-width: 900px) {
  #card1 {
    padding: 50px 20px;
  }
  #card1 h1 {
    font-size: 40px;
  }
  #card1 .pic {
    height: 2200px;
  }
}
@media screen and (max-width: 750px) {
  #card1 .pic {
    height: 2000px;
  }
}
@media screen and (max-width: 550px) {
  #card1 {
    padding: 70px 20px;
  }
  #card1 h1 {
    font-size: 30px;
  }
  #card1 .pic {
    height: 1500px;
  }
}